<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <% include ./partial/head %>
    
    <!-- Custom styles for this template -->
    <style>
      /* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */




body {
  padding-top: 3rem;
  background-color: #c1d6e4;
  color: rgb(var(--bs-tertiary-color-rgb));
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


*{
          margin: 0;
          padding: 0;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 16px;
          color: rgb(10, 7, 7);
        }
        footer{
          background-color: #ddc0d9eb;
          padding-top: 50px;
        }
        .container1{
          width: 1140px;
          margin: auto;
          display: flex;
          justify-content: center;
        }
        .footer-content{
          width:33.3%;
        }
        h3{
          font-size: 28px;
          margin-bottom: 15px;
          text-align: center;
        }
        .footer-content p{
          width:300px;
          margin: auto;
          padding: 7px;
        }
        .footer-content ul{
          text-align: center;
        }
        .list{
          padding: 0;
        }
        .list li{
          width: auto;
          text-align: center;
          list-style-type: none;
          padding: 7px;
          position: relative;
        }
        .list li::before{
          content: '';
          position : absolute;
          transform: translate(-50%,-50%);
          left:50%;
          top:100%;
          width: 0;
          height:2px;
          background:#f18930 ;
          transition-duration: .5s;
        }
        .list li:hover::before{
          width: 70px;
        }
        .social-icons{
          text-align:center;
          padding: 0;
        }
        .social-icons li{
          display:inline-block;
          text-align: center;
          padding: 5px;
        }
        .social-icons i{
          color:rgb(80, 13, 13);
          font-size: 25px;
        }
        a{
          text-decoration: none;
        }
        a:hover{
          color:#f18930;
        }
        .social-icons i:hover{
          color:#f18930;
        }
        .bottom-bar{
          background: rgb(4, 4, 74);
          text-align: center;
          padding: 10px 0;
          margin-top: 50px;
        }
        .bottom-bar p{
          color: rgb(218, 159, 32);
          margin: 0;
          font-size: 16px;
          padding: 7px;
        }
    
    
    </style>
  </head>

  
  <body>
    <% include ./partial/theme-changer %>
    <% include ./partial/header %>
    


<main>

  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
      <img src="/photo/crs2.jpeg" alt="" width="100%" height="100%">
        <div class="container">
        </div>
      </div>
      <div class="carousel-item">
        <img src="/photo/img1.jpg" alt="" width="100%" height="100%">
        <div class="container">
        </div>
      </div>
      <div class="carousel-item">
        <img src="/photo/img2.jpg" alt="" width="100%" height="100%">
        <div class="container">
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <% for(var i=0;i<cinemas.length; i++){%>
        <div class="col-lg-6 mx-auto">
          <img src="<%= cinemas[i].cover %>" width="140" height="140" class="img-fluid bd-placeholder-img rounded-circle" alt="" srcset=""/>
          <h2 class="fw-normal"><%= cinemas[i].name %></h2>
          <p><%= cinemas[i].address %></p>
          <p><%= cinemas[i].phone %></p>
          <p><a class="btn btn-secondary d-block" href="/cinemadetail/<%= cinemas[i]._id %>">View details &raquo;</a></p>
        </div>
      <%}%>
      
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer>
    <div class="container1">
      <div class="footer-content">
        <h3>Contact Info</h3>
        <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill mx-2" viewBox="0 0 16 16">
          <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
        </svg>dreamcine15@gmail.com</p>
        <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill mx-2" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
        </svg>+959 670 513 794</p>
        <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill mx-2" viewBox="0 0 16 16">
          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
        </svg>Technological University Pathein </p>
      </div>
      <div class="footer-content">
        <h3>Quick Links</h3>
        <div class="List">
         <p class="text-center"><a href="/">Home</a></p>
         <p class="text-center"><a href="/cinemas">Cinema</a></p>
          <p class="text-center"><a href="/aboutus">About Us</a></p>
        </div>
      </div>
      <div class="footer-content">
        <h3>Follow Us</h3>
        <ul class="social-icons">
          <li><a href=""><i class="bi bi-facebook"></i></a></li>
          <li><a href=""><i class="bi bi-instagram"></i></a></li>
          <li><a href=""><i class="bi bi-youtube"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="bottom-bar">
      <p>&copy; Created in 2024 . All rights reserved</p>
    </div>
  
  </footer>
</main>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

    </body>
    <script src="/javascripts/jquery-3.7.1.min.js"></script>

    <script>
      $("#home").addClass("text-warning");
      $("#cinemas").removeClass("text-warning");
      $("#aboutus").removeClass("text-warning");

    </script>
</html>
